html,
body {
  font-family: "Open Sans", sans-serif;
  @apply h-full bg-gray-200 overflow-hidden;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

#root {
  @apply h-full;
}

.img-shadow:after {
  content: "";
  @apply shadow-inner block h-full absolute top-0 w-full;
}

.btn {
  @apply items-center flex flex-row py-1 px-4 uppercase rounded-full flex-shrink-0;
}

.btn:focus {
  outline: none;
}

.btn-default:hover {
  background-color: rgb(0, 0, 0, 0.1);
}

.btn-default:focus {
  background-color: rgb(0, 0, 0, 0.1);
}

.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: 0.3;
  transition: 0s;
}

.center-in-screen {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.rubik {
  font-family: "rubik", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "rubik", sans-serif;
  font-weight: lighter;
}

h1 {
  @apply text-6xl;
}

h2 {
  @apply text-5xl;
}

h3 {
  @apply text-4xl;
}

h4 {
  @apply text-3xl;
}

h5 {
  @apply text-2xl;
}

h6 {
  @apply text-xl;
}

p {
  @apply text-lg;
  text-indent: 2em;
}

ul {
  list-style: disc;
  @apply ml-4;
}

li {
  @apply my-2;
}

hr {
  @apply my-4;
}
